<div class="form-group">
    <details>
        <summary>
            Resource Icons
        </summary>
        {{#each resource-icons}}
        <div class="form-group">
            <div class="form-group">
                <label>Icon {{this}}</label>
                <div class="form-fields">
                    <select name="flags.resource-icons.icon{{this}}.resource">
                        {{#resource-icons-select this}}
                        <option value="">None</option>
                        {{#each ../../barAttributes as |attrs label|}}
                        <optgroup label="{{ label }}">
                            {{#each attrs}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                        {{/resource-icons-select}}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Icon {{this}} Image</label>
            <div class="form-fields">
                {{resource-icons-filePicker resource=this type="imagevideo"}}
                <input class="image" type="text" name="flags.resource-icons.icon{{this}}.img" placeholder="path/image.png"
                    value="{{resource-icons-getData this "img"}}" />
            </div>
        </div>

        <div class="form-group" style="margin-left: 20px">
            <details>
                <summary>
                    Icon {{this}} Options
                </summary>

                <div class="form-group">
                    <label for="icon1-background">Background</label>
                    <input id="icon{{this}}-background" type="checkbox"
                        name="flags.resource-icons.icon{{this}}.options.background.active" {{checked
                        (resource-icons-getData this "options.background.active")}} />
                </div>


                <div class="form-group">
                    <label>Background Color</label>
                    {{resource-icons-colorPicker resource=this key="background"}}
                </div>

                <div class="form-group">
                    <label for="icon{{this}}-border">Border</label>
                    <input id="icon{{this}}-border" type="checkbox" name="flags.resource-icons.icon{{this}}.options.border.active"
                        {{checked (resource-icons-getData this "options.border.active")}} />
                </div>

                <div class="form-group">
                    <label>Border Color</label>
                    {{resource-icons-colorPicker resource=this key="border"}}
                </div>

                <div class="form-group">
                    <label for="icon{{this}}-tint">Image Tint</label>
                    <input id="icon{{this}}-tint" type="checkbox" name="flags.resource-icons.icon{{this}}.options.tint.active"
                        {{checked (resource-icons-getData this "options.tint.active")}} />
                </div>

                <div class="form-group">
                    <label>Image Tint Color</label>
                    {{resource-icons-colorPicker resource=this key="tint"}}
                </div>

            </details>
        </div>
        {{/each}}
    </details>
</div>